<ion-view title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
    <!-- <div style="position:absolute; right:0; margin-right: 14px;">
      <ion-item class="favorite" href="#/app/createalert" style="top:-5px;"><i class="icon ion-plus-circled"> -->
    <!--<ul class="float-right icon-right">
      <li ng-click="view_notification()"> <ion-item class="favorite" href="#/app/createalert"><i class="icon ion-plus-circled fa-fw fa-2x"></i></ion-item></li>
    </ul>-->
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span >
            <ion-item class="favorite" href="#/app/createalert"><i class="icon ion-plus-circled fa-fw fa-2x"></i></ion-item>
        </span>
    </ion-nav-buttons>
          
                  <ion-content>
                            <ion-refresher on-refresh="doRefresh()"
                             pulling-text="Pull to refresh"
                             refreshing-text="Refreshing!!"
                             refreshing-icon="ion-loading-c">                     
                  </ion-refresher>

                 
                      <div class="card" ng-show="error">
                          <div class="item item-text-wrap alert-bg">
                              <p>An Error Occured.Please Try again later.</p>
                          </div>
                      </div>
                      <div class="card" ng-show="listsingle.alerts.length<1">
                          <div class="item item-text-wrap alert-bg">
                              <p>There are currently no alerts available.</p>
                          </div>
                      </div>
                    <ul class="list">
                        <li class="item" ng-repeat="alert in listsingle.alerts">
                          <a href="#/app/alertsingle/{{alert.id}}">
                              <h3><b>{{alert.name}}</b></h3>
                              <span class="badge badge-calm">{{alert.count}}</span><span class="badge arrow-left"><i class="fa fa-angle-right"></i></span>
                          </a>
                        </li>
                       
                    </ul>

                    </ion-content>
</ion-view>