<ion-view title="{{bank.tt}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <!--<ul class="float-right icon-right">
            <li><div ng-click="bank_save(bank.id,bank.fav)"><i class="fa fa-star fa-1x custom-fa color_{{bank.fav}}"></i></div></li>
            <li><div ng-click="bank_subscribe(bank.id,bank.alert)"><i class="fa fa-rss fa-1x custom-fa color_{{bank.alert}}"></i></div></li>
        </ul>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-click="bank_save(bank.id,bank.fav)">
            <i class="fa fa-star fa-1x custom-fa color_{{bank.fav}}"></i>
        </span>
        <span style="width:5px"></span>
        <span ng-click="bank_subscribe(bank.id,bank.alert)">
            <i class="fa fa-rss fa-1x custom-fa color_{{bank.alert}}"></i>
        </span>

    </ion-nav-buttons>
    <ion-content class="body-pane">

        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="Pull to refresh"
                       refreshing-text="Refreshing!!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="card" ng-show="error">
            <div class="item item-text-wrap alert-bg">
                <p>An Error Occured.Please Try again later.</p>
            </div>
        </div>
        <div class="card" ng-show="bank.nc==0">
            <div class="item item-text-wrap alert-bg">
                <p>There are no coupons available.</p>
            </div>
        </div>
        <div ng-repeat="bankcoupon in coupons">
            <a class="" href="#/app/couponsingle/{{bankcoupon.id}}">
                    <div class="item item-avatar" >
                        <img ng-src="http://sbimgs.27coupons.com/lion/{{bankcoupon.img}}">
                        <h3><b>{{bankcoupon.tt}}</b></h3>
                        <p class="text-small end_date{{coupon.cs}}">{{bankcoupon.et}}</p>
                    </div>
            </a>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()"
                             ng-if="paginationData.next_page-page==1"
                             distance="10%"
                             icon="ion-load-c"></ion-infinite-scroll>
    </ion-content>
    
</ion-view>