<ion-view title="">     
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
   <!--<ul class="float-right icon-right">
      <li><div ng-click="addFavorite(single_coupon.id,single_coupon.fav)"><i class="fa fa-star fa-1x custom-fa color_{{single_coupon.fav}}"></i></div></li>
      <li><div ng-click="socialShare(single_coupon.tt,single_coupon.url)"><i class="fa fa-share-alt fa-1x custom-fa"></i></div></li>
    </ul>-->
   
  </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <span ng-click="addFavorite(single_coupon.id,single_coupon.fav)">
            <i class="fa fa-star fa-1x custom-fa color_{{single_coupon.fav}}"></i>
        </span>
        <span style="width:5px"></span>
        <span ng-click="socialShare(single_coupon.tt,single_coupon.url)">
            <i class="fa fa-share-alt fa-1x custom-fa"></i>
        </span>
    </ion-nav-buttons>
 </ion-view>
<ion-view class="body-pane">

    <ion-content>
        <div class="row text-center coupon-single">
            <img ng-src={{"http://sbimgs.27coupons.com/lion/"+single_coupon.img}} />
            <p><b>{{single_coupon.tt}}</b></p>
            <button class="button button-balanced button-small add_margin" ng-click="func1(single_coupon.url)">
                SHOP NOW
            </button>
        </div>
        <div class="list" id="coupon-sec">
            <div class="item">
                <p class="coupon_display{{single_coupon.ct}}">
                   <b>Coupon Code:</b>  <span class="item-note dark-gray-text coupon-copy" ng-click='copyToClipBoard(single_coupon.cc)'>
                        <i class="fa fa-cut"></i>&nbsp;&nbsp;{{single_coupon.cc}} <br /> <span>Tap to Copy</span>
                    </span>
                </p>
                <p>
                    <b>Ends ON:</b> <span class="item-note dark-gray-text end_date{{single_coupon.cs}}" ng-click='copyToClipBoard(single_coupon.cc)'>
    {{single_coupon.et}}
</span>
                </p>
                <p><b>TERMS:</b><span>
    {{single_coupon.ds}}
</span></p>
            </div>
        </div>
    </ion-content>


  <!--<ion-content>
          <div class="list card">
                <div class="item item-image single-coupon-item-image text-center single-coupon">
                   <img ng-src={{"http://sbimgs.27coupons.com/lion/"+single_coupon.img}}>
                    <h2><b>{{single_coupon.tt}}</b></h2>
                    <button class="button button-balanced add_margin" ng-click="func1(single_coupon.url)">
                        SHOP NOW
                    </button>
                </div>   

                <div class="single-coupon-desc">
                  <span class="item item-icon-left coupon_display{{single_coupon.ct}} coupon-code-height" href="#">
                <i class="fa fa-bookmark"></i>
                &nbsp;Coupon Code
                
                <span class="item-note dark-gray-text coupon-copy" ng-click='copyToClipBoard(single_coupon.cc)'>
                <i class="fa fa-cut fa-2x"></i>&nbsp;&nbsp;{{single_coupon.cc}}
                <div class="coupon-copy-text">Tap to Copy</div>
                </span>
              </span>

              <span class="item item-icon-left item-icon-right" href="#">
                <i class="fa fa-ban"></i>
                Ends ON
                <span class="item-note dark-gray-text end_date{{single_coupon.cs}}">
                  {{single_coupon.et}}
                </span>
              </span>
                </div>             
           </div>
            <div class="list card">
                    <div class="item item-body">
                      <h3>TERMS</h3>
                      <p>
                        {{single_coupon.ds}}
                      </p>
                    </div>
             </div>
            <div class="row">
              
            </div>
             

    </ion-content>-->
</ion-view>
