<ion-view title="Favorite Stores">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>

    <ion-content>

        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="Pull to refresh"
                       refreshing-text="Refreshing!!"
                       refreshing-icon="ion-loading-c"></ion-refresher>
        <div class="card" ng-show="error">
            <div class="item item-text-wrap alert-bg">
                <p>An Error Occured.Please Try again later.</p>
            </div>
        </div>
        <div class="card" ng-show="stores.count<1">
            <div class="item item-text-wrap alert-bg">
                <p>There are no stores available.</p>
            </div>
        </div>

        <div class="list card custom-store">
            <ion-item ng-repeat="store in stores" href="#/app/storelistsingle/{{store.id}}">

                <div class="item item-avatar truncate_list">
                    <img src="http://sbimgs.27coupons.com/lion/{{store.img}}">
                    <h3><b>{{store.tt}}</b></h3>
                    <span class="badge badge-calm">{{store.nc}}</span>
                </div>

            </ion-item>
        </div>
       
    </ion-content>
    
    <ion-infinite-scroll on-infinite="loadMore()"
                         ng-if="paginationData.next_page-page==1"
                         distance="20%"
                         icon="ion-load-c"></ion-infinite-scroll>
</ion-view>