<ion-view title="Home">
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <ul class="float-right icon-right">
            <li ng-click="view_notification()"><i class="fa fa-bell fa-1x custom-fa"></i><div class="notification-number not_hide_{{not_hide}}"><p>{{tabs.push_notifications.new}}</p></div></li>
        </ul>
       
    </ion-nav-buttons>-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-click="view_notification()">
            <i class="fa fa-bell custom-fa"></i>
            <div class="notification-number not_hide_{{not_hide}}"><p>{{tabs.push_notifications.new}}</p></div>
        </span>
    </ion-nav-buttons>

    <ion-content ng-show="error || tabs.tabs.length<1">
        <div class="card" ng-show="error">
            <div class="item item-text-wrap alert-bg">
                <p>An Error Occured.Please Try again later.</p>
            </div>
        </div>
        <div class="card" ng-show="tab.count<1">
            <div class="item item-text-wrap alert-bg">
                <p>There are no coupons available.</p>
            </div>
        </div>
    </ion-content>
    <ion-tabs ng-show ="tabs.tabs.length>0" class="tabs-positive tabs-icon-only tabs-background-calm">
        <ion-tab ng-repeat="tab in tabs.tabs" title="{{tab.name}}" class="remove_tab{{tab.name}}">
            <ion-content>
                <ion-refresher on-refresh="doRefresh()"
                               pulling-text="Pull to refresh"
                               refreshing-text="Refreshing!!"
                               refreshing-icon="ion-loading-c"></ion-refresher>

                <div ng-repeat="coupon in tab.coupons">
                    <a class="" href="#/app/couponsingle/{{coupon.id}}">
                        <div class="item item-avatar">
                            <img ng-src="http://sbimgs.27coupons.com/lion/{{coupon.img}}">
                            <h3><b>{{coupon.tt}}</b></h3>
                            <p class="text-small end_date{{coupon.cs}}">{{coupon.et}}</p>
                        </div>
                    </a>
                </div>
            </ion-content>

        </ion-tab>
        </ion-tabs>


</ion-view>
