<div class="modal custom-modal custom-modal-backdrop">
  <div class="avtar">
      <img ng-src="img/ic_launcher.png">
  </div>
  <div class="close-btn">
           <button class="button button-clear" ng-click="closeLogin()"><i class="fa fa-close"></i></button>
  </div>
  <ion-content scroll="false" class="body-pane">
  <div>
    {{data.response}}
  </div>   
  </ion-content>
</div>

