<ion-view title="Notifications"><h1><i class="icon ion-gear-a"></i></h1>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
    <ul class="float-right icon-right">
    <li><div ng-click="deleteNotification()"><i class="fa fa-exclamation-triangle fa-1x custom-fa"></i></div></li>
    </ul>
  </ion-nav-buttons>
<div>
<ion-content class="body-pane">
  <ion-refresher on-refresh="doRefresh()"
                     pulling-text="Pull to refresh"
                     refreshing-text="Refreshing!!"
                     refreshing-icon="ion-loading-c">                     
  </ion-refresher>

    <div ng-repeat="notification in notification.data">
        <div ng-click="notification_detail(notification.api_node,notification.id)">
            <div class="list category">
                <div class="item item-avatar item-icon-right">
                    <img ng-src="img/ic_launcher_48.png">
                    <h3><b>{{notification.title}}</b></h3>
                    <!--<i class="icon ion-trash-a"></i>-->
                </div>
            </div>
        </div>
    </div>

</ion-content>
</div>

</ion-view>