﻿<ion-view title="{{userDetails.top_html}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <ion-content class="body-pane">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="Pull to refresh"
                       refreshing-text="Refreshing!!"
                       refreshing-icon="ion-loading-c"></ion-refresher>

        <div class="list card">

            <div class="item item-body text-center">
                <div class="avtar refer-earn">
                    <!--<img ng-src="img/ic_launcher.png">-->
                    <i class="fa fa-user fa-3x user-profile"></i>
                </div>
                <h2>
                    <b>My Profile</b><br />
                </h2>

            </div>

        </div>

        <div class="list user-profile-details">

            <span class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{userDetails.name}}
            </span>

            <span class="item item-icon-left">
                <i class="icon ion-email"></i>
                {{userDetails.email}}
            </span>

            <span class="item item-icon-left">
                <i class="icon ion-navigate"></i>
                Visit <a ng-click="openLink()"> to change your password.</a>.
            </span>

        </div>


    </ion-content>
</ion-view>