<ion-view title="{{single_stores.store.tt}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <!--<ul class="float-right icon-right">
            <li><div ng-click="store_save(single_stores.store.id,single_stores.store.fav)"><i class="fa fa-star fa-1x custom-fa custom-fa color_{{single_stores.store.fav}}"></i></div></li>
            <li><div ng-click="store_subscribe(single_stores.store.id,single_stores.store.alert)"><i class="fa fa-rss fa-1x custom-fa  custom-fa color_{{single_stores.store.alert}}"></i></div></li>
        </ul>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-click="store_save(single_stores.store.id,single_stores.store.fav)">
            <i class="fa fa-star fa-1x custom-fa custom-fa color_{{single_stores.store.fav}}"></i>
        </span>
        <span style="width:5px"></span>
        <span ng-click="store_subscribe(single_stores.store.id,single_stores.store.alert)">
            <i class="fa fa-rss fa-1x custom-fa  custom-fa color_{{single_stores.store.alert}}"></i>
        </span>
    </ion-nav-buttons>
</ion-view>
  <ion-view >
      <ion-content ng-show="single_stores.store.nc==0">
          <div class="card" >
              <div class="item item-text-wrap alert-bg">
                  <p>{{tabs.length}}There are no coupons available.</p>
              </div>
          </div>
      </ion-content>
      <ion-tabs ng-show="single_stores.store.nc>0" class="tabs-positive tabs-icon-only tabs-background-calm">
          <ion-tab ng-repeat="tab in tabs" title="{{tab.name}}" class="remove_tab{{tab.name}}">
              <ion-content>
                  <ion-refresher on-refresh="doRefresh()"
                                 pulling-text="Pull to refresh"
                                 refreshing-text="Refreshing!!"
                                 refreshing-icon="ion-loading-c"></ion-refresher>
                  <div class="card" ng-show="error">
                      <div class="item item-text-wrap alert-bg">
                          <p>An Error Occured.Please Try again later.</p>
                      </div>
                  </div>
                  <div class="card" ng-show="single_stores.store.nc<1">
                      <div class="item item-text-wrap alert-bg">
                          <p>There are no coupons available.</p>
                      </div>
                  </div>
                  <div ng-repeat="coupon in tab.coupons">
                      <a class="" href="#/app/couponsingle/{{coupon.id}}">
                          <div class="item item-button-right">
                              <h3><b>{{coupon.tt}} </b></h3>
                              <p class="text-small end_date{{coupon.cs}}">{{coupon.et}}</p>
                          </div>
                      </a>
                  </div>
                  <!--<a class="button button-icon icon ion-load-c" ng-click="loadMore()">Load More</a>-->
              </ion-content>

          </ion-tab>
      </ion-tabs>

</ion-view>